

body {
    font-family: "Epilogue";
    background-color: rgb(132, 238, 229);
    margin: 0px;
    
}  

h1 {
    font-family: "Montserrat";
    font-weight: bold;
}
img {
    width: 200px;
    border-radius: 50%;
    padding: 10px;
}

li {
    padding: 3px;
}

.header {
    margin: 0px;
    display: inline-block;
    
}

.float-left {
    float: left;
    width: 70px;
    
}

.float-right {
    float: right;
    width: 60%;
    margin-right: 190px;
    margin-left: 240px;
    position: absolute;
}


.float-right p:nth-of-type(2) {
    color: rgb(82, 138, 223);
    font-weight: bold;
}

.body-div {
    margin-left: 10px;
}

.list-link{
    text-decoration: none;
}

.list-link:hover {
    font-weight: bold;
}

.list-habilidades {
    font-size: 15px;
}

.list-habilidades li:nth-of-type(1) {
    font-size: 19px
}

.list-habilidades li:nth-of-type(2) {
    font-size: 19px
}

.list-habilidades li:nth-of-type(2):hover {
    color: rgb(252, 101, 1);
    font-weight: bold;
}

.list-habilidades li:nth-of-type(3) {
    font-size: 19px;
}

.list-habilidades li:nth-of-type(3):hover {
    color: blue;
    font-weight: bold;
}
}